@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

body,
html {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar {
  font-family: "Markazi Text", serif;
  padding: 0%;
  margin: 0%;
}
