.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 1%;
  text-align: center;
}

.container .grid-item img {
  max-width: 20%;
  height: auto;
}

.container h1 {
  font-size: 3rem;
}
